body
{
  color: white;
  background: linear-gradient(#E8CE9A,#9AE8AE,#B0A2F6);
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

.heading{
  font-size:18px;
  border-radius: 10px;
  letter-spacing:10px;
}
label{
  font-size: 25px;
  background:linear-gradient(#A4FCC2,#8CBCF0);
  border-radius: 10%;
  padding:10px;
}